<a href="https://colab.research.google.com/github/Dofften/FPL-Oort/blob/main/trial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2022-23/cleaned_players.csv')

NameError: ignored

In [ ]:
df

In [ ]:
df2 =  pd.read_csv("https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/cleaned_merged_seasons.csv")
df2

<ipython-input-5-b42e8c781610>:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 =  pd.read_csv("https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/cleaned_merged_seasons.csv")

,Unnamed: 0,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,creativity,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
0,0,2016-17,Aaron Cresswell,DEF,NaN,0,0,0,0,0.0,...,2.0,0.0,0,0,0,0,55,False,0,1
1,1,2016-17,Aaron Lennon,MID,NaN,0,0,6,0,0.3,...,1.0,0.0,1,0,0,0,60,True,0,1
2,2,2016-17,Aaron Ramsey,MID,NaN,0,0,5,0,4.9,...,3.0,23.0,2,0,0,0,80,True,0,1
3,3,2016-17,Abdoulaye Doucour√©,MID,NaN,0,0,0,0,0.0,...,1.0,0.0,0,0,0,0,50,False,0,1
4,4,2016-17,Adam Forshaw,MID,NaN,0,0,3,0,1.3,...,1.0,0.0,1,0,0,0,45,True,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98397,98397,2021-22,Wilfred Ndidi,MID,Leicester,0,0,0,0,0.0,...,4.0,0.0,0,-202,22,224,48,True,0,38
98398,98398,2021-22,Matt Ritchie,DEF,Newcastle,0,0,3,0,0.0,...,1.0,0.0,1,143,396,253,49,False,0,38
98399,98399,2021-22,Nathan Redmond,MID,Southampton,0,0,5,0,0.0,...,4.0,0.0,2,455,683,228,59,False,0,38
98400,98400,2021-22,Mathew Ryan,GK,Brighton,0,0,0,0,0.0,...,3.0,0.0,0,-2,0,2,45,True,0,38
98401,98401,2021-22,Ryan Fredericks,DEF,West Ham,0,0,0,0,0.0,...,3.0,0.0,0,36,103,67,44,False,0,38

In [ ]:
df2[df2["name"] == "Harry Kane"]

,Unnamed: 0,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,creativity,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
66,66,2016-17,Harry Kane,FWD,NaN,0,0,5,0,15.3,...,1.0,4.0,2,0,0,0,110,False,0,1
259,259,2016-17,Harry Kane,FWD,NaN,0,0,0,0,0.0,...,1.0,0.0,0,-5610,397,6007,107,True,0,10
465,465,2016-17,Harry Kane,FWD,NaN,0,2,26,0,1.8,...,1.0,32.0,8,-678,3539,4217,107,False,0,11
671,671,2016-17,Harry Kane,FWD,NaN,0,3,57,0,2.6,...,3.0,43.0,13,39848,42536,2688,107,True,0,12
878,878,2016-17,Harry Kane,FWD,NaN,0,0,6,0,23.0,...,2.0,13.0,2,41185,47553,6368,108,False,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95728,95728,2021-22,Harry Kane,FWD,Spurs,0,0,3,1,0.8,...,0.0,47.0,2,-240326,25537,265863,125,False,0,34
96459,96459,2021-22,Harry Kane,FWD,Spurs,0,0,22,0,7.9,...,3.0,54.0,6,-161054,25029,186083,125,True,0,35
97457,97457,2021-22,Harry Kane,FWD,Spurs,0,0,10,0,20.7,...,1.0,22.0,2,-148060,40226,188286,124,False,0,36
97458,97458,2021-22,Harry Kane,FWD,Spurs,0,3,57,1,12.3,...,3.0,144.0,13,-148060,40226,188286,124,True,0,36
98272,98272,2021-22,Harry Kane,FWD,Spurs,1,1,42,1,0.0,...,0.0,0.0,10,227108,266861,39753,125,False,0,38

In [ ]:
import requests , json, csv

# Overall FPL league ID, 314 for 2019/20 season.
overallLeageID = 314

# number of GW in 2019/20 season. Done as array to avoid calling api for blank GW 30-38.
gameWeeks = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,39,40,
		41,42,43,44,45,46,47]

# adds the top 10 team ID's to this array
teamIDarray = []

# number of top manager information required.
topManagerNumber = 10

url = "https://fantasy.premierleague.com/api/leagues-classic/"+str(overallLeageID)+"/standings/"

response = requests.get(url)
data = response.text
parsed = json.loads(data)
managerParsed = parsed['standings']['results']

# open 3 files for writing
manager_data = open('top_managers.csv', 'w', newline='', encoding="utf-8")
gw_data = open('top_managers_gwInfo.csv', 'w', newline='', encoding="utf-8")
gw_picks = open('top_managers_gwPicks.csv', 'w', newline='', encoding="utf-8")

# create the 3 csv writer objects
csvwriter1 = csv.writer(manager_data)
csvwriter2 = csv.writer(gw_data)
csvwriter3 = csv.writer(gw_picks)

#get csv of top 10 manager information and write to top_managers.csv
count = 0
for manager in managerParsed:
	if count == 0:
		header = ['rank','entry','player_name','entry_name','total']
		csvwriter1.writerow(header)
		count += 1

	if count <= topManagerNumber:
		csvwriter1.writerow([manager['rank'],manager['entry'],manager['player_name'],
						manager['entry_name'],manager['total']])

		count +=1
		teamIDarray.append(manager['entry'])

# for each teamID in the top 10, call the api and update both top_managers_gwInfo.csv and top_managers_gwPicks.csv
count1 = 0
count2 = 0
for teamID in teamIDarray:
	for x in gameWeeks:
		url = "https://fantasy.premierleague.com/api/entry/"+str(teamID)+"/event/"+str(x)+"/picks/"
		response = requests.get(url)
		data = response.text
		parsed = json.loads(data)

		# write data to top_managers_gwInfo.csv
		if count1 == 0:
			header = ['team_id','gw','points','bench','gw_rank','transfers','hits','total_points',
				'overall_ank','team_value','chip']

			csvwriter2.writerow(header)
			count1 += 1
		try:
			csvwriter2.writerow([teamID,x, parsed['entry_history']['points'], parsed['entry_history']['points_on_bench'],
							parsed['entry_history']['rank'], parsed['entry_history']['event_transfers'],
							parsed['entry_history']['event_transfers_cost'], parsed['entry_history']['total_points'],
							parsed['entry_history']['overall_rank'], int(parsed['entry_history']['value'])/10, parsed['active_chip']])
		except:
			continue

		# write data to top_managers_gwPicks.csv
		for i in range(len(parsed['picks'])):
			if count2 == 0:
				header = ['team_id','gw','id','position','multiplier']
				csvwriter3.writerow(header)
				count2 += 1
			csvwriter3.writerow([teamID, x, parsed['picks'][i]['element'], parsed['picks'][i]['position'], parsed['picks'][i]['multiplier']])

manager_data.close()
gw_data.close()
gw_picks.close()

# do some formatting on top_managers_gwPicks by adding the name of the player picked from player_idlist.csv
df = pd.read_csv('top_managers_gwPicks.csv')
df1 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2022-23/player_idlist.csv') 

merged = df.merge(df1, on=['id'])
merged.drop('first_name', axis=1, inplace=True)
merged = merged[['team_id', 'gw', 'second_name', 'id', 'position', 'multiplier']]
merged.rename({'id': 'player_id'}, axis=1, inplace=True)
merged=merged.sort_values(by=['team_id', 'gw', 'position'])
merged.to_csv('top_managers_gwPicks.csv',index=False)

In [ ]:
df3 =  pd.read_csv("top_managers_gwPicks.csv")

In [ ]:
df3

      team_id  gw           second_name  player_id  position  multiplier
0       41517   1     Santana de Moraes        307         1           1
1       41517   1  dos Santos Magalh√£es         16         2           1
2       41517   1                 James        146         3           1
3       41517   1               Cancelo        306         4           1
4       41517   1      Alexander-Arnold        285         5           1
...       ...  ..                   ...        ...       ...         ...
4345  3243627  29               Watkins         40        11           1
4346  3243627  29           Raya Martin         81        12           1
4347  3243627  29                 Mings         39        13           1
4348  3243627  29                  Saka         13        14           1
4349  3243627  29                  Kane        427        15           1

[4350 rows x 6 columns]